@import '~bulma';

html {
  overflow-y: inherit;
}

:root {
  --sidebar-width: 180px;
  --margin-top: 20px;
  --bg: #161616;
  --bg-2: #131313;
  --bg-3: #222;
  --heading: #00aeff;
  --tertiary: #da44ff;
  --text: #ececec;
  --terminal-text: #fcdc4d;
  --terminal-color: #78ff3a;
  --variable-color: #3ab0ff;
  --options-color: #db8fff;
  --chain-color: #ffa53e;
}

#site {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 180px auto;
  width: 100vw;
  height: 100vh;
}

aside {
  width: var(--sidebar-width);
  margin-top: var(--margin-top);
}

.brand {
  padding-left: 8px;
}

main {
  width: calc(100vw - var(--sidebar-width));
  margin-top: var(--margin-top);
  margin-bottom: 20px;
}


/* Page Specific CSS */
#cv {
  section {
    margin-bottom: 20px;
  }
}

.content figure:not(:last-child) {
  margin-bottom: 0;
}

.content {
  .dcraig-intro-media {
    figure {
      margin-left: 0;
      margin-right: 1rem;

      .image.is-128x160 {
        height: 128px;
        width: 160px;
      }
    }
 }
}

.content pre, pre {
  background: transparent !important;
}

@import './code.scss';
@import './dark-mode.scss';

@media (max-width: 620px) {
  #site {
    display: flex;
    flex-direction: column;
  }

  aside, main {
    width: 100%;
  }

  main {
    padding: 0.8rem;
  }
}
