@import '~bulma';

:root {
  --sidebar-width: 180px;
  --margin-top: 20px;
  --bg: #161616;
  --bg-2: #131313;
  --bg-3: #222;
  --heading: #00aeff;
  --tertiary: #da44ff;
  --text: #ececec;

  --theme-bg: #ececec;
  --theme-bg-2: #cacaca;
  --theme-bg-3: #a8a8a8;
  --theme-text: var(--bg-2);
  --theme-heading: #005177;
  --theme-link: #00329e;
  --theme-link-hover: #1100ff;
  --theme-tertiary: #5b0085;
  --theme-text-soft: rgb(107, 107, 107);

  --theme-text-terminal: #8900a5;
  --theme-text-variable: #004e83;
  --theme-text-options: #670097;
  --theme-text-terminal: #aa8e13;
  --theme-text-terminal-2: #288000;
  --theme-text-chain: #8d4b00;
}

@import './dark-mode.scss';
@import './pages/cv.scss';
@import './components/card.scss';
@import './components/media.scss';
@import './components/table.scss';
@import './components/code.scss';

html {
  background-color: var(--theme-bg);
}

*,
.media-content strong {
  color: var(--theme-text);
}

html, #site, #__next {
  overflow: hidden;
}

/* Fix bulma overflow */
.columns {
  margin-left: 0;
  margin-right: 0;
}

#site {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 180px auto;
  width: 100vw;
  height: 100vh;
}

aside {
  width: var(--sidebar-width);
  margin-top: var(--margin-top);
}

.brand {
  padding-left: 8px;
}

main {
  width: calc(100vw - var(--sidebar-width));
  padding-top: var(--margin-top);
  padding-bottom: 20px;
  overflow-y: scroll;
  scrollbar-color: var(--heading) var(--bg-3);
  box-sizing: content-box;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: var(--bg-3);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--heading);
  }
}

.content {
  .h5, .h1 { color: var(--theme-heading); }
  .h2 { color: var(--theme-tertiary); }
  a {
    color: var(--theme-link);
    &:hover {
      color: var(--theme-link-hover);
    }
  }

  figure:not(:last-child) {
    margin-bottom: 0;
  }

  .dcraig-intro-media {
    figure {
      margin-left: 0;
      margin-right: 1rem;

      .image.is-128x160 {
        height: 128px;
        width: 160px;
      }
    }
 }
}

.content pre, pre {
  background: transparent !important;
}

@media (max-width: 620px) {
  #site {
    display: flex;
    flex-direction: column;
  }

  aside, main {
    width: 100%;
  }

  .menu-list {
    display: flex;
    justify-content: space-between;

    .is-active a {
      color: var(--theme-heading);
    }
  }

  main {
    padding: 0.8rem;
  }
}

.tag:not(body) {
  background-color: var(--theme-bg);
  border: 1px solid var(--theme-bg-2);
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: var(--theme-text-soft);
}

.menu-list a {
  color: var(--theme-text);

  &:hover {
    background: transparent;
    color: var(--theme-heading);
  }
}
