code {
  font-family: Hack, 'Source Code Pro', 'Ubuntu Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  code {
    background-color: var(--bg-2);
    color: var(--text);
    border-radius: 8px;
    border: 2px solid #121212;
    box-shadow: 4px 4px 4px #181818;

    &.terminal,
    &.generic,
    &.sql {
      color: var(--terminal-text);

      & .command { color: var(--terminal-color); }
      & .variable { color: var(--variable-color); }
      & .chain { color: var(--chain-color); }
      & .argument { color: var(--options-color); }
    }
  }

  pre code {
    border: none;
    background-color: transparent;
  }

  .codeblock {
    background-color: var(--bg-2);
    color: var(--text);
    border-radius: 8px;
    border: 2px solid #121212;
    margin-bottom: 1rem;

    pre {
      padding: .5rem;
    }

    code {
      box-shadow: none;
    }
  }
}
