@media (prefers-color-scheme: dark) {
  :root {
    --theme-bg: var(--bg);
    --theme-bg-2: var(--bg-2);
    --theme-text: var(--text);
    --theme-tertiary: var(--tertiary);
    --theme-heading: var(--heading);
    --theme-text-soft: #b8b8b8;

    --theme-link: #2762e2;
    --theme-link-hover: #5486f3;

    --theme-text-terminal: #fcdc4d;
    --theme-text-terminal-2: #78ff3a;;
    --theme-text-variable: #3ab0ff;
    --theme-text-options: #db8fff;
    --theme-text-chain: #ffa53e;
  }
}
