@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--bg);
  }

  *, .media-content strong { color: var(--text); }

  .card-header-title, .content .h5, .content .h1 { color:var(--heading); }
  .content .h2 { color:var(--tertiary); }

  .card, .media, code {
    background-color: var(--bg-2);
    color: var(--text);
    border-radius: 8px;
    border: 2px solid #121212;
    box-shadow: 4px 4px 4px #181818;
  }

  .table {
    background-color: transparent;
    color: var(--text);
  }

  .tag:not(body) {
    background-color: var(--bg);
    font-size: 1rem;
    margin-bottom: 0.25rem;
    color: #acacac;
  }

  .menu-list a {
    color: var(--text);

    &:hover {
      background: transparent;
      color: var(--heading);
    }
  }

  .content table td, .content table th {
    border-color: var(--bg-3);
  }

  code {
    &.terminal {
      color: var(--terminal-text);

      & .command { color: var(--terminal-color); }
      & .variable { color: var(--variable-color); }
      & .chain { color: var(--chain-color); }
      & .argument { color: var(--options-color); }
    }
  }

  .programming-skill, .employer {
    color: var(--terminal-text);
  }

  .employer { font-weight: 600; }
}
